.articles-content {
    padding-top: 5rem;

    h2 {
        margin-bottom: 2rem;
    }

    .articles-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 5rem;

        .article {
            .article-img {
                width: 100%;
            }

            .article-text {
                padding: 1.5rem 1.5rem 2.5rem 1.5rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .article-author {
                    font-size: 0.7rem;
                }

                .article-title {
                    font-weight: 400;
                    font-size: 1rem;
                }

                .article-description {
                    font-size: 0.8rem;
                }
            }
        }
    }
}



@media (min-width: 1440px) {}