.nav {
    width: 100vw;
    position: fixed;
    z-index: 300;

    .nav-content {
        position: relative;
        min-height: 2.25rem;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;

        .nav-menu {
            position: absolute;
            width: 100%;
            top: 12vh;
            z-index: 1000;
            padding: 2rem 0;
            transform: translateX(-2rem);
            opacity: 0;

            .nav-menu-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;
            }
        }
    }
}

.nav-control {
    cursor: pointer;
}

.nav-cta {
    display: none;
}

@media (min-width: 1440px) {
    .nav {

        .nav-content {
            height: 6vh;

            .nav-menu {
                position: static;
                width: auto;
                padding: 0;
                transform: translateX(0);
                opacity: 1;

                .nav-menu-list {
                    flex-direction: row;
                }
            }
        }
    }

    .nav-control {
        display: none;
    }

    .nav-cta {
        display: block;
    }
}