.nav {
    border-bottom: 1px solid black;
}

.nav-content {
    position: relative;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}