#reasons {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.reasons-main-text {
    h2 {
        margin-bottom: 1rem;
    }

    .reasons-lead-p {
        margin-bottom: 4rem;
        text-align: center;
    }
}

.reasons-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;

    .reason {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
    }
}

@media (min-width: 1440px) {}