//Background Colors
.bg-white {
    background-color: $color-white;
}

.bg-general {
    color: $color-primary;
    background-color: #fafafa;
}

.bg-mid {
    background-color: #f4f5f7;
}

.bg-footer {
    background-color: $color-primary;
}

//Text Colors
.txt-color-primary {
    color: $color-primary;
}

.txt-color-gb {
    color: $color-gray-blue;
}

.txt-color-footer {
    color: $color-gray-blue-lt;
}

//Call to Actions
.cta {
    font-size: 1rem;
    padding: 0.9rem 2.5rem;
    border-radius: 2rem;
    color: $color-white;
    background: linear-gradient(to right,
            $color-linear-left,
            $color-linear-right);
}

//Others
.max-width-inner {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.unscrollable {
    overflow-y: hidden;
}

@media (min-width: 1440px) {
    .unscrollable {
        overflow-y: auto;
    }
}