//Background Colors
.bg-white {
    background-color: $color-white;
}

.bg-general {
    background-color: #fafafa;
}

.bg-mid {
    background-color: #f4f5f7;
}

.bg-footer {
    background-color: $color-primary;
}

//Text Colors
.txt-color-primary {
    color: $color-primary;
}

.txt-color-gb {
    color: $color-gray-blue;
}

.txt-color-footer {
    color: $color-gray-blue-lt;
}

.txt-nav-links {
    color: $color-primary;
}

//Border Radius
.article-br {
    border-radius: $article-border-radius;
}

.article-img-br {
    border-top-left-radius: $article-border-radius;
    border-top-right-radius: $article-border-radius;
}

//Headers
.h1-main-header {
    line-height: normal;
    font-size: 2.5rem;
}

.h2-sub-headers {
    line-height: normal;
    font-size: 2rem;
}

//Call to Actions
.cta {
    font-size: 1rem;
    padding: 0.9rem 2.5rem;
    border-radius: 2rem;
    color: $color-white;
    background: linear-gradient(to right,
            $color-linear-left,
            $color-linear-right);
}

//Mask
.mask {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.6;
    transform: translateY(-108vh);
    transition: transform 0.3s ease-out;
}

//Others
.max-width-inner {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.unscrollable {
    overflow-y: hidden;
}

@media (min-width: 1440px) {
    .unscrollable {
        overflow-y: auto;
    }

    .mask {
        transform: translateY(-100vh);
    }

    .txt-nav-links {
        color: $color-gray-blue;
    }
}