.bg-white {
    background-color: $color-white;
}

.bg-general {
    color: $color-primary;
    background-color: $color-gray-blue-slt;
}

.bg-mid {
    color: $color-primary;
    background-color: $color-gray-blue-lt;
}

.bg-footer {
    color: $color-white;
    background-color: $color-primary;
}

.cta {
    color: $color-white;
    background: linear-gradient(to right, $color-linear-left, $color-linear-right);
}

.max-width-inner {
    max-width: 1100px;
    width: 85%;
    margin: 0 auto;
}