@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

//Colors
$color-primary: hsl(233, 26%, 24%);
$color-linear-left: hsl(136, 65%, 51%);
$color-linear-right: hsl(192, 70%, 51%);
$color-gray-blue: hsl(233, 8%, 62%);
$color-gray-blue-lt: hsl(220, 16%, 96%);
$color-gray-blue-slt: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

//Font Family
$font-family: 'Public Sans', sans-serif;

//Border Radius
$article-border-radius: 0.4rem;
